@media only screen and (max-width: 1080px) {
    #nav-left {
        .nav-child {
            justify-content: center;

            .nav-left-title {
                display: none;
            }
        }

    }
}

@media only screen and (max-width: 768px) {
    #nav-left {
        display: none;

    }
}