.access-link {
    padding: auto;
}

.nav-link {
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #374151;

    &:hover {
        background-color: #F3F4F6;
    }
}